<?xml version="1.0" encoding="utf-8" ?>

<configuration>

  <configSections>

    <section
      name="servicesSection"
      type="Artifactory.Configuration.ServiceConfigurationSection, Artifactory" />

    <section
      name="webApiBuilderSection"
      type="Artifactory.Builders.WebApi.Configuration.WebApiBuilderConfigurationSection, Artifactory.Builders.WebApi" />

  </configSections>

  <servicesSection>

    <Services>

      <add
        AssemblyFilename="Artifactory.Builders.WebApi.dll"
        ViewModelBuilderType="Artifactory.Builders.WebApi.Implementation.WebApiViewModelBuilder" />

      <add
        AssemblyFilename="Artifactory.Builders.WebApi.UnitTests.dll"
        ViewModelBuilderType="Artifactory.Builders.WebApi.UnitTests.Implementation.WebApiUnitTestsViewModelBuilder" />

      <add
        AssemblyFilename="Artifactory.Builders.LibraryReference.dll"
        ViewModelBuilderType="Artifactory.Builders.LibraryReference.Implementation.LibraryReferenceViewModelBuilder" />

    </Services>

  </servicesSection>

  <webApiBuilderSection
    SolutionPath=""
    ControllerFilterRegex="" 
    ApiControllerSubclassesRegex=""/>

  <startup>

    <supportedRuntime
        version="v4.0"
        sku=".NETFramework,Version=v4.5.2" />

  </startup>

</configuration>